<a href="https://colab.research.google.com/github/MauricioDiasDEV/mygooglecolab/blob/main/Lista%2C_Indexa%C3%A7%C3%A3o_e_Tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Trabalhando com Listas, Indexação, Tuplas e Dicionários***

In [ ]:
# Listas são como arrays, vistas em outras linguagens de programação
# Temos então:

lista = [1, 2, 3, 4]
print(lista)

[1, 2, 3, 4]

In [ ]:
# Se quisermos trabalhar com cada elemento dentro da lista, podemos usar a indexação
# Se quisermos retornar o valor 1, usaremos lista[0] que retornará o valor dentro desta posição

print(lista[0])

1

In [ ]:
# Podemos trablahar com um intervalo dentro dessa lista:

print(lista[1:3])

[2, 3]

In [ ]:
# Podemos ter dentro da lista outras lista e ainda valores diferentes

lista2 = [1,2,3,'Mauricio',[5,6,7]]

print(lista2)

[1, 2, 3, 'Mauricio', [5, 6, 7]]

In [ ]:
# Podemo então pegar valores isolados dentro desta lista, como no exemplo acima:

print(lista2[2]) # valor isolado
print(lista2[4][1]) # conteúdo do valor da lista dentro da lista2

3
6

In [ ]:
# Podemos também adicionar elementos nessa lista

lista2.append('Edite')
print(lista2)

[1, 2, 3, 'Mauricio', [5, 6, 7], 'Edite']

# ***Tuplas***

In [ ]:
# Muito semelhante as listas
# Acessamos da mesma maneira
# Não pode ter seu conteúdo alterado
# Inicia com parêntese


tupla = (2, 5, 7)
print(tupla)

(2, 5, 7)

In [ ]:
# Acessando os valores dentro da tupla

print(tupla[1])

5

# ***Dicionários***

In [ ]:
# Os dicionário trabalham como se fosse chave e valor.
# Para cada item, teremos um valor atrelado.

contatos = {"Nome":"Mauricio", "Número":"(11) 9 8748-2536"}

print(contatos["Nome"],contatos["Número"])

Mauricio (11) 9 8748-2536